<div id="dashboard" class="flex">
    <h1>Score: <span id="score">0</span></h1>
    <h1>Time: <span id="timer">120</span></h1>
</div>
<div id="gameBoard" class="flex flexCol">
    <h1 id="scrambled"></h1>
    <form action="" id="form" class="flex">
            <input id="userGuess" type="text" required>
            <button id="guessButton ">Guess</button>
        </form>
</div>