<div id="dashboard" class="flex">
    <h1>Score: <span id="score"></span></h1>
    <h1>Time: <span id="timer"></span></h1>
</div>
<div id="gameBoard" class="flex flexCol">
    <h1 id="scrambled">SHDJJL</h1>
    <form action="" class="flex">
            <input type="text">
            <button>Guess</button>
        </form>
</div>