<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="/javascripts/timer.js"></script>
    <script defer src="/javascripts/game.js"></script>
    <script defer src="/javascripts/main.js"></script>
  </head>
  <body class="flex flexCol">
    <div id="container" class="flex flexCol">