<h2>You will be presented with various words scrambled up that you will have to decipher. All words are related to programming.</h2> 
<h2>As you solve each word you get a point. Do you Have what it takes to make it into the top 10? Will you accept the challenge?</h2>
<button id="startGame">Start Game</button>
