<h1>How to Play</h1>
<h2>You will be presented with various words scrambled up that you will have to decipher. All words are related to programming.</h2> 
<h2>As you solve each word you get a point. How many words can you unscramble in 2 minutes? Do you Have what it takes to make it into the top 10? Will you accept the challenge?</h2>
<form action="" method="GET" id="modalForm" class="flex flexCol">
    <input id="userName" name="userName" placeholder="Enter your name" required>
    <button id="startGame" disabled>Start Game</button>
</form>