<h1>How to Play</h1>
<h2>Can you unscramble these programming terms in 2 minutes? As you solve each word you get a point. Do you Have what it takes to make it into the top 10? Will you accept the challenge?</h2>
<form action="" method="GET" id="modalForm" class="flex flexCol">
    <input id="userName" name="userName" placeholder="Enter your name" required>
    <button id="startGame" disabled>Start Game</button>
</form>